@model IEnumerable<AssignmentWCD_BabyFashionShop.Models.Clothes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Clothes")
</p>
@using (Ajax.BeginForm("SearchByName", "Clothes",
new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnFailure = "searchFailed",
    LoadingElementId = "ajax-loader",
    UpdateTargetId = "result",
}, new { @id = "roleForm" }))
{
    <input type="text" name="keyWord" value="" />
    <button class="btn-default" type="submit">Search</button>
}
<div class="container" id="result">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="row">
                <img src="@item.Thumnail" alt="Alternate Text" width=100% />
                <h3>@item.Name</h3>
                <button class="btn-default">Add to cart</button>
            </div>
        </div>
    }
</div>
@section header
{
    @*<link href="~/Content/ClothesIndex.css" rel="stylesheet" />*@
}
@section scripts
{
    @*<script src="~/Scripts/ClothesIndex.js"></script>*@
}
