@model IEnumerable<AssignmentWCD_BabyFashionShop.Models.Clothes>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="row">
            <img src="@item.Thumnail" alt="Alternate Text" width=100% />
            <h3>@item.Name</h3>
            <button class="btn-default">Add to cart</button>
        </div>
    </div>
}
